script.sql
Planificacion Diagramas/mermaid-diagram.png
Planificacion Diagramas/mermaid-diagram (2).png
Planificacion Diagramas/mermaid-diagram (1).png
Planificacion Diagramas/erd-diagram-2026-07-05T01-10-13-4k.png
