USE [master]
GO
/****** Object:  Database [T4K4SH]    Script Date: 7/8/2026 8:46:44 PM ******/
CREATE DATABASE [T4K4SH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T4K4SH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\T4K4SH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T4K4SH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\T4K4SH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T4K4SH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T4K4SH]
GO
/****** Object:  Table [dbo].[ArchivosAdjuntos]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivosAdjuntos](
	[IdArchivo] [int] NOT NULL,
	[IdTarea] [int] NULL,
	[IdEntrega] [int] NULL,
	[IdMensaje] [int] NULL,
	[IdUsuarioSube] [int] NOT NULL,
	[NombreOriginal] [nvarchar](255) NOT NULL,
	[TipoMime] [nvarchar](100) NOT NULL,
	[Extension] [nvarchar](20) NULL,
	[TamanoBytes] [bigint] NOT NULL,
	[ContenidoArchivo] [varbinary](max) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[EstadoArchivo] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaSistema]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaSistema](
	[IdAuditoria] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[TablaAfectada] [nvarchar](100) NOT NULL,
	[IdRegistroAfectado] [int] NULL,
	[DatosAntes] [nvarchar](max) NULL,
	[DatosDespues] [nvarchar](max) NULL,
	[IpOrigen] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[FechaAccion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[IdCalificacion] [int] NOT NULL,
	[IdTrabajo] [int] NOT NULL,
	[IdCalificador] [int] NOT NULL,
	[IdCalificado] [int] NOT NULL,
	[Puntuacion] [int] NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[FechaCalificacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[IdCarrera] [int] NOT NULL,
	[NombreCarrera] [nvarchar](120) NOT NULL,
	[IdUniversidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasTarea]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasTarea](
	[IdCategoria] [int] NOT NULL,
	[NombreCategoria] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentariosEntrega]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosEntrega](
	[IdComentarioEntrega] [int] NOT NULL,
	[IdEntrega] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Comentario] [nvarchar](700) NOT NULL,
	[TipoComentario] [nvarchar](40) NOT NULL,
	[FechaComentario] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComentarioEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConexionesUsuarios]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConexionesUsuarios](
	[IdConexion] [int] NOT NULL,
	[IdUsuarioSolicitante] [int] NOT NULL,
	[IdUsuarioReceptor] [int] NOT NULL,
	[EstadoConexion] [nvarchar](30) NOT NULL,
	[Mensaje] [nvarchar](300) NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[FechaRespuesta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConexion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdUsuarioSolicitante] ASC,
	[IdUsuarioReceptor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversaciones]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversaciones](
	[IdConversacion] [int] NOT NULL,
	[IdTarea] [int] NOT NULL,
	[IdPostulacion] [int] NULL,
	[IdTrabajo] [int] NULL,
	[EstadoConversacion] [nvarchar](30) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaUltimoMensaje] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas](
	[IdEntrega] [int] NOT NULL,
	[IdTrabajo] [int] NOT NULL,
	[DescripcionEntrega] [nvarchar](max) NOT NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[EstadoEntrega] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidades]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidades](
	[IdHabilidad] [int] NOT NULL,
	[NombreHabilidad] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstados]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstados](
	[IdHistorialEstado] [int] NOT NULL,
	[Entidad] [nvarchar](60) NOT NULL,
	[IdEntidad] [int] NOT NULL,
	[EstadoAnterior] [nvarchar](40) NULL,
	[EstadoNuevo] [nvarchar](40) NOT NULL,
	[IdUsuarioCambio] [int] NULL,
	[MotivoCambio] [nvarchar](300) NULL,
	[FechaCambio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorialEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntentosLogin]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntentosLogin](
	[IdIntento] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Exitoso] [bit] NOT NULL,
	[MotivoFallo] [nvarchar](150) NULL,
	[IpOrigen] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[FechaIntento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIntento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[IdMensaje] [int] NOT NULL,
	[IdConversacion] [int] NOT NULL,
	[IdUsuarioEmisor] [int] NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[Leido] [bit] NOT NULL,
	[FechaLectura] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[IdNotificacion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IdPago] [int] NOT NULL,
	[IdTrabajo] [int] NOT NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[ComisionPlataforma] [decimal](10, 2) NOT NULL,
	[MontoEstudiante] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NOT NULL,
	[EstadoPago] [nvarchar](30) NOT NULL,
	[ReferenciaExterna] [nvarchar](150) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaPago] [datetime] NULL,
	[FechaLiberacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portafolio]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portafolio](
	[IdPortafolio] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](700) NULL,
	[EnlaceExterno] [nvarchar](500) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[EstadoPortafolio] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPortafolio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulaciones]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulaciones](
	[IdPostulacion] [int] NOT NULL,
	[IdTarea] [int] NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[Mensaje] [nvarchar](500) NULL,
	[PrecioPropuesto] [decimal](10, 2) NULL,
	[FechaPostulacion] [datetime] NOT NULL,
	[EstadoPostulacion] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPostulacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdTarea] ASC,
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[IdPublicacion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[TipoPublicacion] [nvarchar](40) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[EstadoPublicacion] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recomendaciones]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recomendaciones](
	[IdRecomendacion] [int] NOT NULL,
	[IdUsuarioRecomienda] [int] NOT NULL,
	[IdUsuarioRecomendado] [int] NOT NULL,
	[IdTrabajo] [int] NULL,
	[Comentario] [nvarchar](700) NOT NULL,
	[FechaRecomendacion] [datetime] NOT NULL,
	[EstadoRecomendacion] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecomendacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reportes]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reportes](
	[IdReporte] [int] NOT NULL,
	[IdUsuarioReporta] [int] NOT NULL,
	[IdUsuarioReportado] [int] NULL,
	[IdTarea] [int] NULL,
	[Motivo] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](700) NULL,
	[EstadoReporte] [nvarchar](30) NOT NULL,
	[FechaReporte] [datetime] NOT NULL,
	[IdTrabajo] [int] NULL,
	[IdEntrega] [int] NULL,
	[IdPago] [int] NULL,
	[TipoReporte] [nvarchar](30) NOT NULL,
	[CategoriaReporte] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevisionesEntrega]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevisionesEntrega](
	[IdRevisionEntrega] [int] NOT NULL,
	[IdEntrega] [int] NOT NULL,
	[IdUsuarioRevisa] [int] NOT NULL,
	[ResultadoRevision] [nvarchar](40) NOT NULL,
	[Observacion] [nvarchar](700) NULL,
	[FechaRevision] [datetime] NOT NULL,
	[EstadoRevision] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRevisionEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SesionesUsuario]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SesionesUsuario](
	[IdSesion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TokenHash] [nvarchar](255) NOT NULL,
	[IpOrigen] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[FechaCierre] [datetime] NULL,
	[EstadoSesion] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[IdTarea] [int] NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Presupuesto] [decimal](10, 2) NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[FechaLimitePostulacion] [datetime] NULL,
	[FechaLimite] [datetime] NULL,
	[EstadoTarea] [nvarchar](30) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[TipoOportunidad] [nvarchar](50) NOT NULL,
	[Modalidad] [nvarchar](30) NULL,
	[Visibilidad] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TareasHabilidades]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TareasHabilidades](
	[IdTareaHabilidad] [int] NOT NULL,
	[IdTarea] [int] NOT NULL,
	[IdHabilidad] [int] NOT NULL,
	[EsRequerida] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTareaHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdTarea] ASC,
	[IdHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokensRecuperacionPassword]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokensRecuperacionPassword](
	[IdToken] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TokenHash] [nvarchar](255) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[Usado] [bit] NOT NULL,
	[FechaUso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrabajosAsignados]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrabajosAsignados](
	[IdTrabajo] [int] NOT NULL,
	[IdTarea] [int] NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaEntregaEsperada] [datetime] NULL,
	[EstadoTrabajo] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaccionesPago]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaccionesPago](
	[IdTransaccion] [int] NOT NULL,
	[IdPago] [int] NOT NULL,
	[TipoTransaccion] [nvarchar](40) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[EstadoTransaccion] [nvarchar](30) NOT NULL,
	[ReferenciaExterna] [nvarchar](150) NULL,
	[FechaTransaccion] [datetime] NOT NULL,
	[Observacion] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Universidades]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universidades](
	[IdUniversidad] [int] NOT NULL,
	[NombreUniversidad] [nvarchar](150) NOT NULL,
	[DominioCorreo] [nvarchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUniversidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DominioCorreo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRoles]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRoles](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[Apellido] [nvarchar](80) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[DocumentoIdentidad] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Telefono] [nvarchar](25) NULL,
	[Direccion] [nvarchar](150) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[EstadoUsuario] [nvarchar](30) NOT NULL,
	[IdUniversidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosEstudiantes]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosEstudiantes](
	[IdUsuario] [int] NOT NULL,
	[IdCarrera] [int] NULL,
	[CarnetUniversitario] [nvarchar](50) NULL,
	[EstadoPerfilEstudiante] [nvarchar](30) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosHabilidades]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosHabilidades](
	[IdUsuarioHabilidad] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdHabilidad] [int] NOT NULL,
	[Nivel] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Verificada] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdHabilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificacionesUsuario]    Script Date: 7/8/2026 8:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificacionesUsuario](
	[IdVerificacion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[CorreoInstitucional] [nvarchar](150) NOT NULL,
	[CodigoVerificacion] [nvarchar](20) NOT NULL,
	[EstadoVerificacion] [nvarchar](30) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[FechaVerificacion] [datetime] NULL,
	[FechaExpiracion] [datetime] NULL,
	[UltimaRevalidacion] [datetime] NULL,
	[TipoVerificacion] [nvarchar](50) NOT NULL,
	[Observacion] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVerificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArchivosAdjuntos]  WITH CHECK ADD  CONSTRAINT [FK_ArchivosAdjuntos_Entregas] FOREIGN KEY([IdEntrega])
REFERENCES [dbo].[Entregas] ([IdEntrega])
GO
ALTER TABLE [dbo].[ArchivosAdjuntos] CHECK CONSTRAINT [FK_ArchivosAdjuntos_Entregas]
GO
ALTER TABLE [dbo].[ArchivosAdjuntos]  WITH CHECK ADD  CONSTRAINT [FK_ArchivosAdjuntos_Mensajes] FOREIGN KEY([IdMensaje])
REFERENCES [dbo].[Mensajes] ([IdMensaje])
GO
ALTER TABLE [dbo].[ArchivosAdjuntos] CHECK CONSTRAINT [FK_ArchivosAdjuntos_Mensajes]
GO
ALTER TABLE [dbo].[ArchivosAdjuntos]  WITH CHECK ADD  CONSTRAINT [FK_ArchivosAdjuntos_Tareas] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[ArchivosAdjuntos] CHECK CONSTRAINT [FK_ArchivosAdjuntos_Tareas]
GO
ALTER TABLE [dbo].[ArchivosAdjuntos]  WITH CHECK ADD  CONSTRAINT [FK_ArchivosAdjuntos_Usuarios] FOREIGN KEY([IdUsuarioSube])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ArchivosAdjuntos] CHECK CONSTRAINT [FK_ArchivosAdjuntos_Usuarios]
GO
ALTER TABLE [dbo].[AuditoriaSistema]  WITH CHECK ADD  CONSTRAINT [FK_AuditoriaSistema_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[AuditoriaSistema] CHECK CONSTRAINT [FK_AuditoriaSistema_Usuarios]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Calificado] FOREIGN KEY([IdCalificado])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Calificado]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Calificador] FOREIGN KEY([IdCalificador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Calificador]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Trabajos] FOREIGN KEY([IdTrabajo])
REFERENCES [dbo].[TrabajosAsignados] ([IdTrabajo])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Trabajos]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [FK_Carreras_Universidades] FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidades] ([IdUniversidad])
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [FK_Carreras_Universidades]
GO
ALTER TABLE [dbo].[ComentariosEntrega]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosEntrega_Entregas] FOREIGN KEY([IdEntrega])
REFERENCES [dbo].[Entregas] ([IdEntrega])
GO
ALTER TABLE [dbo].[ComentariosEntrega] CHECK CONSTRAINT [FK_ComentariosEntrega_Entregas]
GO
ALTER TABLE [dbo].[ComentariosEntrega]  WITH CHECK ADD  CONSTRAINT [FK_ComentariosEntrega_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ComentariosEntrega] CHECK CONSTRAINT [FK_ComentariosEntrega_Usuarios]
GO
ALTER TABLE [dbo].[ConexionesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_ConexionesUsuarios_Receptor] FOREIGN KEY([IdUsuarioReceptor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ConexionesUsuarios] CHECK CONSTRAINT [FK_ConexionesUsuarios_Receptor]
GO
ALTER TABLE [dbo].[ConexionesUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_ConexionesUsuarios_Solicitante] FOREIGN KEY([IdUsuarioSolicitante])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[ConexionesUsuarios] CHECK CONSTRAINT [FK_ConexionesUsuarios_Solicitante]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [FK_Conversaciones_Postulaciones] FOREIGN KEY([IdPostulacion])
REFERENCES [dbo].[Postulaciones] ([IdPostulacion])
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [FK_Conversaciones_Postulaciones]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [FK_Conversaciones_Tareas] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [FK_Conversaciones_Tareas]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [FK_Conversaciones_Trabajos] FOREIGN KEY([IdTrabajo])
REFERENCES [dbo].[TrabajosAsignados] ([IdTrabajo])
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [FK_Conversaciones_Trabajos]
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD  CONSTRAINT [FK_Entregas_Trabajos] FOREIGN KEY([IdTrabajo])
REFERENCES [dbo].[TrabajosAsignados] ([IdTrabajo])
GO
ALTER TABLE [dbo].[Entregas] CHECK CONSTRAINT [FK_Entregas_Trabajos]
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Usuarios] FOREIGN KEY([IdUsuarioCambio])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Usuarios]
GO
ALTER TABLE [dbo].[IntentosLogin]  WITH CHECK ADD  CONSTRAINT [FK_IntentosLogin_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[IntentosLogin] CHECK CONSTRAINT [FK_IntentosLogin_Usuarios]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Conversaciones] FOREIGN KEY([IdConversacion])
REFERENCES [dbo].[Conversaciones] ([IdConversacion])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Conversaciones]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Usuarios] FOREIGN KEY([IdUsuarioEmisor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Usuarios]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuarios]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Trabajos] FOREIGN KEY([IdTrabajo])
REFERENCES [dbo].[TrabajosAsignados] ([IdTrabajo])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Trabajos]
GO
ALTER TABLE [dbo].[Portafolio]  WITH CHECK ADD  CONSTRAINT [FK_Portafolio_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Portafolio] CHECK CONSTRAINT [FK_Portafolio_Usuarios]
GO
ALTER TABLE [dbo].[Postulaciones]  WITH CHECK ADD  CONSTRAINT [FK_Postulaciones_Tareas] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[Postulaciones] CHECK CONSTRAINT [FK_Postulaciones_Tareas]
GO
ALTER TABLE [dbo].[Postulaciones]  WITH CHECK ADD  CONSTRAINT [FK_Postulaciones_UsuariosEstudiantes] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[UsuariosEstudiantes] ([IdUsuario])
GO
ALTER TABLE [dbo].[Postulaciones] CHECK CONSTRAINT [FK_Postulaciones_UsuariosEstudiantes]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuarios]
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD  CONSTRAINT [FK_Recomendaciones_Trabajos] FOREIGN KEY([IdTrabajo])
REFERENCES [dbo].[TrabajosAsignados] ([IdTrabajo])
GO
ALTER TABLE [dbo].[Recomendaciones] CHECK CONSTRAINT [FK_Recomendaciones_Trabajos]
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD  CONSTRAINT [FK_Recomendaciones_UsuarioRecomendado] FOREIGN KEY([IdUsuarioRecomendado])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Recomendaciones] CHECK CONSTRAINT [FK_Recomendaciones_UsuarioRecomendado]
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD  CONSTRAINT [FK_Recomendaciones_UsuarioRecomienda] FOREIGN KEY([IdUsuarioRecomienda])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Recomendaciones] CHECK CONSTRAINT [FK_Recomendaciones_UsuarioRecomienda]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Entregas] FOREIGN KEY([IdEntrega])
REFERENCES [dbo].[Entregas] ([IdEntrega])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Entregas]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Pagos] FOREIGN KEY([IdPago])
REFERENCES [dbo].[Pagos] ([IdPago])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Pagos]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Tareas] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Tareas]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Trabajos] FOREIGN KEY([IdTrabajo])
REFERENCES [dbo].[TrabajosAsignados] ([IdTrabajo])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Trabajos]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_UsuarioReporta] FOREIGN KEY([IdUsuarioReporta])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_UsuarioReporta]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_UsuarioReportado] FOREIGN KEY([IdUsuarioReportado])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_UsuarioReportado]
GO
ALTER TABLE [dbo].[RevisionesEntrega]  WITH CHECK ADD  CONSTRAINT [FK_RevisionesEntrega_Entregas] FOREIGN KEY([IdEntrega])
REFERENCES [dbo].[Entregas] ([IdEntrega])
GO
ALTER TABLE [dbo].[RevisionesEntrega] CHECK CONSTRAINT [FK_RevisionesEntrega_Entregas]
GO
ALTER TABLE [dbo].[RevisionesEntrega]  WITH CHECK ADD  CONSTRAINT [FK_RevisionesEntrega_Usuarios] FOREIGN KEY([IdUsuarioRevisa])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[RevisionesEntrega] CHECK CONSTRAINT [FK_RevisionesEntrega_Usuarios]
GO
ALTER TABLE [dbo].[SesionesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_SesionesUsuario_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[SesionesUsuario] CHECK CONSTRAINT [FK_SesionesUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasTarea] ([IdCategoria])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Categorias]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Clientes]
GO
ALTER TABLE [dbo].[TareasHabilidades]  WITH CHECK ADD  CONSTRAINT [FK_TareasHabilidades_Habilidades] FOREIGN KEY([IdHabilidad])
REFERENCES [dbo].[Habilidades] ([IdHabilidad])
GO
ALTER TABLE [dbo].[TareasHabilidades] CHECK CONSTRAINT [FK_TareasHabilidades_Habilidades]
GO
ALTER TABLE [dbo].[TareasHabilidades]  WITH CHECK ADD  CONSTRAINT [FK_TareasHabilidades_Tareas] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[TareasHabilidades] CHECK CONSTRAINT [FK_TareasHabilidades_Tareas]
GO
ALTER TABLE [dbo].[TokensRecuperacionPassword]  WITH CHECK ADD  CONSTRAINT [FK_TokensRecuperacionPassword_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[TokensRecuperacionPassword] CHECK CONSTRAINT [FK_TokensRecuperacionPassword_Usuarios]
GO
ALTER TABLE [dbo].[TrabajosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_Trabajos_Tareas] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[TrabajosAsignados] CHECK CONSTRAINT [FK_Trabajos_Tareas]
GO
ALTER TABLE [dbo].[TrabajosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_Trabajos_UsuariosEstudiantes] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[UsuariosEstudiantes] ([IdUsuario])
GO
ALTER TABLE [dbo].[TrabajosAsignados] CHECK CONSTRAINT [FK_Trabajos_UsuariosEstudiantes]
GO
ALTER TABLE [dbo].[TransaccionesPago]  WITH CHECK ADD  CONSTRAINT [FK_TransaccionesPago_Pagos] FOREIGN KEY([IdPago])
REFERENCES [dbo].[Pagos] ([IdPago])
GO
ALTER TABLE [dbo].[TransaccionesPago] CHECK CONSTRAINT [FK_TransaccionesPago_Pagos]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Roles]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Universidades] FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidades] ([IdUniversidad])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Universidades]
GO
ALTER TABLE [dbo].[UsuariosEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosEstudiantes_Carreras] FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carreras] ([IdCarrera])
GO
ALTER TABLE [dbo].[UsuariosEstudiantes] CHECK CONSTRAINT [FK_UsuariosEstudiantes_Carreras]
GO
ALTER TABLE [dbo].[UsuariosEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosEstudiantes_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosEstudiantes] CHECK CONSTRAINT [FK_UsuariosEstudiantes_Usuarios]
GO
ALTER TABLE [dbo].[UsuariosHabilidades]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosHabilidades_Habilidades] FOREIGN KEY([IdHabilidad])
REFERENCES [dbo].[Habilidades] ([IdHabilidad])
GO
ALTER TABLE [dbo].[UsuariosHabilidades] CHECK CONSTRAINT [FK_UsuariosHabilidades_Habilidades]
GO
ALTER TABLE [dbo].[UsuariosHabilidades]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosHabilidades_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosHabilidades] CHECK CONSTRAINT [FK_UsuariosHabilidades_Usuarios]
GO
ALTER TABLE [dbo].[VerificacionesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Verificaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[VerificacionesUsuario] CHECK CONSTRAINT [FK_Verificaciones_Usuarios]
GO
USE [master]
GO
